h1 {
  font-family: Nixie One, sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  color: black;
}

.movieIndex {
  display: inline;
}

.extraSmallMoviePoster {
  width: 49%;
}

.smallMoviePoster {
  width: 32.5%;
}

.mediumMoviePoster {
  width: 24.5%;
}

.largeMoviePoster {
  width: 19.5%;
}

.colophon {
  background-color: black;
  color: white;
}

.moviePoster {
  max-width: 100%;
}

.likes {
  font-size: 48pt;
  text-align: right;
}
