<h2>Edit Movie</h2>

<form class="form-horizontal" ng-submit="updateMovie()" name="editMovie">

  <div class="form-group">
    <label for="editTitle" class="col-sm-2 control-label">Edit Title: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editTitle" ng-model="movie.movieTitle" value={{movie.movieTitle}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editPoster" class="col-sm-2 control-label">Edit Poster: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editPoster" ng-model="movie.moviePoster"></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editPlot" class="col-sm-2 control-label">Edit Plot: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editPlot" ng-model="movie.moviePlot" value={{movie.moviePlot}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editTrivia" class="col-sm-2 control-label">Edit Trivia: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editTrivia" ng-model="movie.movieTrivia" value={{movie.movieTrivia}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editDirector" class="col-sm-2 control-label">Edit Director: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editDirector" ng-model="movie.movieDirector" value={{movie.movieDirector}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editWriter" class="col-sm-2 control-label">Edit Writer: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editWriter" ng-model="movie.movieWriter" value={{movie.movieWriter}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editActors" class="col-sm-2 control-label">Edit Actors: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editActors" ng-model="movie.movieActors" value={{movie.movieActors}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="editYear" class="col-sm-2 control-label">Edit Year: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="editYear" ng-model="movie.movieYear" value={{movie.movieYear}}></label>
    </div>
  </div>

  <div class="form-group">
    <label for="updateMovie" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <input type="submit" class="form-control btn btn-primary" value="Update Movie"></input>
    </div>
  </div>

  <div class="form-group">
    <label for="deleteMovie" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <button ng-click="deleteMovie(movie)" class="form-control btn btn-danger">Delete Movie</button>
    </div>
  </div>

</form>
