<div class="row">

  <div class="colophon col-sm-2 col-md-2 col-lg-2">
    <p class="lead">MEAN stack ReSTful CRUD app with Angular front-end and Bootstrap styling.</p>

    <p class="text-justify">This website is two apps, with separate back and front ends. The back end uses Node, Express, and MongoDB and is deployed on Heroku. The data is served to an API as JSON objects. MongoDB is accessed via the lightweight, schemaless Monk and MongoSkin Node modules.</p>

    <p class="text-justify">The front end uses Angular and Bootstrap and is deployed on Firebase. There are four views: INDEX (Home), NEW, SHOW, and EDIT. Comments are an array of objects nested in the movie object. Other features include likes/dislikes. The app is fully responsive. The number of movies displayed per row changes from five in the large view, to four in the medium view, three in the small view, and two on mobile devices.</p>

    <p class="text-justify">The <a ng-href="https://github.com/tdkehoe/CRUDiest-Movies-Database-Node-back-end">back end code</a> and <a ng-href="https://github.com/tdkehoe/CRUDiest-Movies-Database-Angular-Front-End">front end code</a> are on GitHub. Tutorials to make the <a ng-href="https://github.com/tdkehoe/Learn-To-Code-By-Breaking-Stuff/blob/master/Node_and_Express.md">back end</a> and the <a ng-href="https://github.com/tdkehoe/Learn-To-Code-By-Breaking-Stuff/blob/master/Angular_CRUD.md">front end</a> are also on GitHub.
  </div>

  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="addNewMovie row">
      <a href="/#/movies/new"><button type="button" class="btn btn-danger btn-block">Add new movie</button></a>
    </div>

    <div class="row visible-xs-block">
      <div ng-repeat="movie in movies" class="movieIndex">
        <a ng-href="/#/movies/{{movie._id}}"><img class="extraSmallMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieName}}"></a>
      </div>
    </div>

    <div class="row visible-sm-block">
      <div ng-repeat="movie in movies" class="movieIndex">
        <a ng-href="/#/movies/{{movie._id}}"><img class="smallMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieName}}"></a>
      </div>
    </div>

    <div class="row visible-md-block">
      <div ng-repeat="movie in movies" class="movieIndex">
        <a ng-href="/#/movies/{{movie._id}}"><img class="mediumMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieName}}"></a>
      </div>
    </div>

    <div class="row visible-lg-block">
      <div ng-repeat="movie in movies" class="movieIndex">
        <a ng-href="/#/movies/{{movie._id}}"><img class="largeMoviePoster" ng-src="{{movie.moviePoster}}" alt="{{movie.movieName}}"></a>
      </div>
    </div>

  </div>
</div>
