<h2>Add a New Movie</h2>

<form class="form-horizontal" ng-submit="addMovie()" name="newMovie">

  <div class="form-group">
    <label for="movieName" class="col-sm-2 control-label">Movie: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="movieName" ng-model="movie.movieName" data-toggle="tooltip" data-placement="top" title="Wikipedia is a good source of movie info." required/>
    </div>
  </div>

  <div class="form-group">
    <label for="moviePerson" class="col-sm-2 control-label">Who To Blame: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="moviePerson" ng-model="movie.moviePerson" data-toggle="tooltip" data-placement="top" title="Could be the director, actor, producer, etc."/>
    </div>
  </div>

  <div class="form-group">
    <label for="movieYear" class="col-sm-2 control-label">Year: </label>
    <div class="col-sm-10">
      <input type="number" class="form-control" name="movieYear" ng-model="movie.movieYear" />
    </div>
  </div>

  <div class="form-group">
    <label for="movieSummary" class="col-sm-2 control-label">Summary: </label>
    <div class="col-sm-10">
      <textarea class="form-control" name="movieSummary" ng-model="movie.movieSummary" /></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="movieTrivia" class="col-sm-2 control-label">Trivia: </label>
    <div class="col-sm-10">
      <textarea class="form-control" name="movieTrivia" ng-model="movie.movieTrivia" /></textarea>
    </div>
  </div>

  <div class="form-group">
    <label for="moviePoster" class="col-sm-2 control-label">Poster: </label>
    <div class="col-sm-10">
      <input type="url" class="form-control" name="moviePoster" ng-model="movie.moviePoster" data-toggle="tooltip" data-placement="top" title="Find your movie's poster on the Internet (Wikipedia is good). Then right-click on the poster and choose Copy Image Address. Paste the URL in this field."/>
    </div>
  </div>

  <div class="form-group">
    <label for="movieRating" class="col-sm-2 control-label">Rating: </label>
    <div class="col-sm-10">
      <select class="form-control" name="movieRating" ng-model="movie.movieRating">
        <option value="-1">-1</option>
        <option value="-2">-2</option>
        <option value="-3">-3</option>
        <option value="-4">-4</option>
        <option value="-5">-5</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label for="movieSubmit" class="col-sm-2 control-label"></label>
    <div class="col-sm-10">
      <input type="submit" class="form-control btn btn-danger" value="Add Movie" ></input>
    </div>
  </div>

</form>
