<h2>Add a New Movie</h2>

<form class="form-horizontal" ng-submit="addMovie()" name="newMovie">

  <div class="form-group">
    <label for="movieName" class="col-sm-2 control-label">Movie Title: </label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        name="movieName"
        ng-model="movie.movieName"
        uib-typeahead="address for address in getLocation($viewValue)"
        typeahead-loading="loadingLocations"
        typeahead-no-results="noResults"
        typeahead-min-length="3"
        typeahead-on-select="onSelect($item)" />
      <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
      <div ng-show="noResults">
        <i class="glyphicon glyphicon-remove"></i> No Results Found
      </div>
    </div>
  </div>

</form>
