@font-face {
  font-family: "Terminator";
  src: url("fonts/Terminator.ttf") format("truetype");
}

h1 {
  font-family: Terminator, sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  color: black;
}

.movieIndex {
  display: inline;
}

.extraSmallMoviePoster {
  width: 49%;
}

.smallMoviePoster {
  width: 32.5%;
  height: 272px;
}

.mediumMoviePoster {
  width: 24.5%;
  height: 265px;
}

.largeMoviePoster {
  width: 19.5%;
  height: 260px;
}

.colophon {
  background-color: black;
  color: white;
}

.moviePoster {
  max-width: 100%;
}

.likes {
  font-size: 48pt;
  text-align: right;
}

.comment {
  border-style: solid;
  border-width: thin;
  padding: 5px;
  border-color: silver;
}

.commentAuthor {
  text-align: right;
  font-style: italic;
}

.showComments {
  font-weight: bold;
}

.addMovie {
  font-size: larger;
}

.glyphicon-search {
  padding-right: 40px;
  color: silver;
  font-size: larger;
}
