@font-face {
  font-family: "Terminator";
  src: url("fonts/Terminator.ttf") format("truetype");
}

h1 {
  font-family: Terminator, sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  color: black;
}

.resume:link {
  text-decoration: none;
}

.movieIndex {
  display: inline;
}

.extraSmallMoviePoster {
  width: 49%;
}

.smallMoviePoster {
  width: 24.5%;
  height: 276px;
}

.mediumMoviePoster {
  width: 19.5%;
  height: 282px;
}

.largeMoviePoster {
  width: 16.3%;
  height: 285px;
  padding-top: 3px;
}

.largeMoviePoster:hover {
  outline: 5px solid blue;
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  transform: rotate(-10deg);
}

.colophon {
  background-color: black;
  color: white;
}

.moviePoster {
  max-width: 100%;
}

.likes {
  font-size: 48pt;
  text-align: right;
}

.comment {
  border-style: solid;
  border-width: thin;
  padding: 5px;
  border-color: silver;
}

.commentAuthor {
  text-align: right;
  font-style: italic;
}

.showComments {
  font-weight: bold;
}

.addMovie {
  font-size: larger;
}

.glyphicon-search {
  padding-right: 40px;
  color: silver;
  font-size: larger;
}

.well {
  transition: transform 500ms ease-out;
}
