@font-face {
  font-family: "Deanna";
  src: url("fonts/Deanna.ttf") format("truetype");
}

@font-face {
  font-family: "Terminator";
  src: url("fonts/Terminator.ttf") format("truetype");
}

@font-face {
  font-family: "Corleone";
  src: url("fonts/Corleone.ttf") format("truetype");
}

h1 {
  font-family: Terminator, Corleone, Deanna, sans-serif;
  text-shadow: 4px 4px 4px #aaa;
  color: black;
}

.movieIndex {
  display: inline;;
}

.extraSmallMoviePoster {
  width: 49%;
}

.smallMoviePoster {
  width: 32.5%;
  height: 298px;
}

.mediumMoviePoster {
  width: 24.5%;
  height: 297px;
}

.largeMoviePoster {
  width: 19.5%;
  height: 272px;
}

.colophon {
  background-color: black;
  color: white;
}

.moviePoster {
  max-width: 100%;
}

.likes {
  font-size: 48pt;
  text-align: right;
}

.commentAuthor {
  text-align: right;
  font-style: italic;
}

.showComments {
  font-weight: bold;
}

.addMovie {
  font-size: larger;
}
