<table>
  <tr><td>Movie Name:</td><td>{{movie.movieName}}</td></tr>
  <tr><td>Who To Blame:</td><td>{{movie.moviePerson}}</td></tr>
  <tr><td>Year:</td><td>{{movie.movieYear}}</td></tr>
  <tr><td>Summary:</td><td>{{movie.movieSummary}}</td></tr>
  <tr><td>Poster:</td><td><img class="jobPicture" ng-src="{{movie.moviePoster}}"></td></tr>
  <tr><td>Rating:</td><td>{{movie.movieRating}}</td></tr>
  <tr><td><a href="/#/movies/{{movie._id}}/edit"><button>Edit Movie</button></a></td></tr>
</table>

<span ng-click="showComments = !showComments">
  <ng-pluralize count="movie.comments.length"
  when="{'0': '',
  'one': '1 comment',
  'other': '{} comments',
  'NaN': ''}">
</ng-pluralize><br>
</span>

<div ng-show="showComments">
  <div ng-repeat="comment in movie.comments">
    <span>{{comment.commentText}}</span>
    <span>--{{comment.commentAuthor}}</span>
    <span>{{comment.commentTimestamp | date:'medium'}}</span>
    <form ng-submit="deleteComment(movie, comment)">
      <input type="submit" value="Delete Comment" />
    </form>
    <br />
  </div>
</div>

<form ng-submit="newComment(movie)">
  <input type="text" name="commentText" ng-model="movie.newComment.commentText">
  <input type="text" name="commentAuthor" ng-model="movie.newComment.commentAuthor">
  <input type="submit" value="Submit Comment"></input>
</form>
